.App-header {
  background-color: #003366;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  margin: 20px auto 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: square;
  border: solid 2px lightgray;
  max-width: 80vw;
}