.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(149, 173, 238);  /*  #3bd9df; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 h1{
  color: rgb(149, 173, 238);
  font-weight: bolder;
  font-style: italic;
  text-shadow: 10px 10px 6px white;
 }

section{
  background-color: rgb(149, 173, 238);
  border-radius: 5px;
  border-style: inset;
  width: 40%;
  margin: 8px auto;
  padding: 20px 2px;
  color: white;
 }

 ul{
  list-style-type:none;
  list-style-position: outside;
  margin : 0;
 }




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
